@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    font-weight: 900;
    background-image: url("../images/background.jpeg");
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
div{
    display: block;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.active{
    background-color: orange;
}
.content{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    padding-top: 71px;
    padding-bottom: 80px;
}
.btn-primary{
    color: white;
    background-color: tomato;
    border-color: firebrick;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    
}
.form-control{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.background-effect{
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 500px;
    background-color: #7b75d1;
    clip-path: ellipse(219% 100% at -103.79% 0%);
}


